<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HitsOnDeck - {{ event.name }}</title>
  <link rel="shortcut icon" href="static/img/HitsOnDeckLogo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/css/styling.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="static/img/HitsOnDeckTransparent.png"
            alt="Logo" width="120" height="80" class="d-inline-block align-text-top"></a>
      </div>
    </nav>
  </header>

  <main>
    <div class="container bg-light p-4">
      <div class="row">
        <!-- Left Column: Event Info and Image -->
        <div class="col-md-6 border smallBuffer">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h5>{{ event.name }}</h5>
          </div>
          <p>{{ event.time.strftime('%A, %d %B %Y, %I:%M %p') }}<br>{{ event.location }}, {{ event.street_address }}</p>
          <hr>
          <p><strong>Ticket Tiers:</strong> Standard, VIP</p>
          <div class="d-flex justify-content-center mb-2">
            <img src="{{ event.photo }}" class="img-fluid" style="max-width: 100%;" alt="{{ event.name }}">
          </div>
          <p>{{ event.description }}</p>
        </div>

        <!-- Right Column: Ticket Selection and Cost -->
        <div class="col-md-6 border">
          <div class="container mt-3">
            {% for ticket_type, price in {'standard-adult': 152.68, 'standard-concession': 877.55, 'vip-seasons-package': 1412.78}.items() %}
            <div class="row align-items-center py-2 border-bottom">
              <div class="col-md-8">
                <p>{{ ticket_type.replace('-', ' ').title() }} - ${{ price }} each</p>
              </div>
              <div class="col-md-2">{{ quantities[ticket_type] }}</div>
              <div class="col-md-2">
                <a href="{{ url_for('decrement', ticket_type=ticket_type) }}" class="btn btn-outline-secondary me-2">-</a>
                <a href="{{ url_for('increment', ticket_type=ticket_type) }}" class="btn btn-primary">+</a>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="smallBuffer">
            <h5>Total Ticket Cost: ${{ total_ticket_cost }}</h5>
            <h6>Booking Fee: $10</h6>
            <h4>Total: ${{ final_cost }}</h4>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
